@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:100,200,400');

body{
    background-color: black;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0px;
    padding: 0px;
    position: relative;
    top:0;
    left: 0;
    width: 100vw;
    height: 94vh;
    display: flex;
    flex-direction: column;
}

#content{
    display: flex;
    align-items: center;
    flex: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#footer{
    color: #c2c2c2;
    font-weight: 400;
    font-size: 12px;
    text-align: left;
}

h1{
    margin: 0;
    width: 100%;
    text-align: center;
    font-size: 25vw;
    font-weight: 100;
    z-index: 1;
}

p{
    margin: 12px;
}

canvas{
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@media screen and (orientation: landscape) { 
    canvas{
        height: 100vh;
    }
}
@media screen and (orientation: portrait) {
    canvas{
        width: 100vw;
    }
}