@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:100,200,400');

html, body{
    min-height: 100%;
}

body{
    height: 100vh;
    background-color: black;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0px;
    font-weight: 400;
    font-size: 1em;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    display: flex;
    justify-content: flex-start;
    white-space: nowrap;
    line-height: 25px;
    background-color: rgba(15, 15, 15, 0.7);
    -webkit-backdrop-filter: saturate(180%) blur(10px);
    backdrop-filter: saturate(180%) blur(10px);
    padding-left: 36px;
    padding-right: 36px;
    padding: 13px 20px;
}

#logo{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: #fff;
}

#logo-text{
    font-weight: 500;
    font-size: 25px;
    padding-left: 10px;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main p{
    max-width: 400px;
    margin: 10px;
    text-align: center;
    color: rgb(207, 207, 207);
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    color: #bbbbbb;
    height: 25px;
    line-height: 25px;
    padding-left: 36px;
    padding-right: 36px;
}

footer p{
    margin: 0;
    padding: 0;
}