div
{
   margin:0px;
   display:inline-block;
}

body
{
    text-align:center;
    width:100%;
    padding-top:20px;
    margin:0px;
    background: url(snake.png) no-repeat;
    background-size: 100%;
    background-color:#E5D88B;
}

h3{ margin-bottom:1px; }

h2, p{ color:#484848; }



.standart-size
{
    width:300px;
    height: 300px;
}

.content
{
    border:1px solid black;
    padding:4px;
    background: linear-gradient(to bottom right, #E7D693, #DDE261);
}

.cl
{
    width:10px;
    height:10px;
    float:left;
}

.r
{
    height:10px;
    display:block;
}

.r0
{
    border-top:1px solid black;
    height:9px;
}

.r68{
    border-bottom:1px solid black;
    height:9px;
}

.c68
{
    border-right:1px solid black;
    width:9px;
}

.c0
{
    border-left:1px solid black;
    width:9px;
}

.snake_head
{
    background-color:#0CF379;
}

.snake_body
{
    background-color:#0C5C31;
}

.eat
{
    background-color:red;
    border-radius: 100%;
}



.information{

    height:690px;

    width:690px;

    position:absolute;

    display:none;

}

.score{

    margin-bottom:590px;

}

.menu{

	height:690px;

    width:690px;

    position:absolute;

    display:block;

	background-color:linear-gradient(to bottom right, #E7D693, #93A651);;

}

.menu h3{

	color:#767676;

	font-size:40px;

}

.menu .choise{

	color:#DDDDDE;

	font-weight:bold;

	font-size:40px;

	text-shadow: black 0 0 1px;

}

.menu .play{

	margin-top:260px;

}

.about_inf{

	height:690px;

    width:690px;

    position:absolute;

    display:none;

	background-color:linear-gradient(to bottom right, #E7D693, #93A651);

}

.about_inf h3{

	margin-top:150px;

	color:#767676;

	font-size:40px;

	color:#484848;

}

.about_inf p{

	margin-top:290px;

	color:#484848;

}

span{

	color:red;

}